<h1>Title</h1>
<p>Some text.</p>
<div class="mermaid">
graph TB
A --> B
B --> C
</div>

<p>Some other text.</p>
<div class="mermaid">
graph TB
D --> E
E --> F
</div>

<script>mermaid.initialize({startOnLoad:true});</script>
<img src="https://drive.google.com/file/d/1-LU4IpMm1Dd2Y3Pk-IE_r_1yLkPzQ6Hn/uc?export=view">

<img src="https://drive.google.com/uc?export=view&id=1-LU4IpMm1Dd2Y3Pk-IE_r_1yLkPzQ6Hn" alt="A description of the image" width="1000" height="1000">
<a href="https://www.thedogsside.com/articles">Dog Link</a> 

<img src="https://drive.google.com/uc?export=view&id=11SQwN1wcLVjxzNN1wGrs1LLWpypUHUaW" usemap="#image_map">
<map name="image_map">
  <area alt="Nose" title="Nose" href="https://www.psychologytoday.com/us/blog/animal-emotions/201804/secrets-the-snout-dogs-nose-is-work-art" coords="398,584,602,748" shape="rect">
  <area alt="Right Eye" title="Right Eye" href="https://www.psychologytoday.com/us/blog/animal-emotions/201804/secrets-the-snout-dogs-nose-is-work-art" coords="586,475,707,556" shape="rect">
  <area alt="Left Eye" title="Left Eye" href="https://www.psychologytoday.com/us/blog/animal-emotions/201804/secrets-the-snout-dogs-nose-is-work-art" coords="291,479,419,550" shape="rect">
  <area alt="Ear" title="Ear" href="https://www.psychologytoday.com/us/blog/animal-emotions/201804/secrets-the-snout-dogs-nose-is-work-art" coords="843,466,921,691" shape="rect">
</map>