        </div>
      </div>
    </div>
  </div>
</header>
      <div class="menu u-pe-n">
  <div class="menu__main u-nsb">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="offset-md-2 col-md-20">
          <div class="menu__items u-list">
                          <a href="https://digital-cover.com/our-services/"  class="menu__item">
                <span class="menu__item-title">
                  <span>Services</span>
                </span>
              </a>
                          <a href="https://digital-cover.com/about-us/"  class="menu__item">
                <span class="menu__item-title">
                  <span>About us</span>
                </span>
              </a>
                          <a href="https://digital-cover.com/projects/"  class="menu__item">
                <span class="menu__item-title">
                  <span>Our projects</span>
                </span>
              </a>
                          <a href="https://digital-cover.com/contact/"  class="menu__item">
                <span class="menu__item-title">
                  <span>Contact us</span>
                </span>
              </a>
                      </div>
        </div>
      </div>
    </div>
    <div class="menu__links">
      <div class="menu__links-left">
                  <a href="https://digital-cover.fr" class="e-button e-button--magnetic " target=&quot;_blank&quot; rel=&quot;noopener&quot;>
    <span class="e-button__icon"><svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
<mask id="mask0_546_5237" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="12" height="12">
<path d="M4.83869 1.16131C5.48006 0.519937 6.51994 0.519937 7.16131 1.16131L10.8387 4.83869C11.4801 5.48006 11.4801 6.51994 10.8387 7.16131L7.16131 10.8387C6.51994 11.4801 5.48006 11.4801 4.83869 10.8387L1.16131 7.16131C0.519937 6.51994 0.519937 5.48006 1.16131 4.83869L4.83869 1.16131Z" fill="#C4C4C4"/>
</mask>
<g mask="url(#mask0_546_5237)">
<path d="M0 0.0517572L12 0V12H0V0.0517572Z" fill="white"/>
<path d="M8 0H12V11H8V0Z" fill="#C90000"/>
<path d="M0 0H4V11H0V0Z" fill="#0062F4"/>
</g>
</svg>
</span>
  <span class="e-button__text">French version </span>
</a>
                      </div>
      <div class="menu__links-right">
                  <a href="https://digital-cover.com/contact-us/" class="e-button  e-button--hover" >
      <span class="e-button__hover">
      <span><svg width="34" height="22" viewBox="0 0 34 22" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M23.9805 20.5705L31.4172 13.1338C32.7142 11.8367 32.7142 9.73378 31.4172 8.43673L23.9805 1" stroke="white" stroke-width="2"/>
  <path d="M32.5 10.7773H0" stroke="white" stroke-width="2"/>
</svg>
</span>
    </span>
    <span class="e-button__icon"><svg width="34" height="22" viewBox="0 0 34 22" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M23.9805 20.5705L31.4172 13.1338C32.7142 11.8367 32.7142 9.73378 31.4172 8.43673L23.9805 1" stroke="white" stroke-width="2"/>
  <path d="M32.5 10.7773H0" stroke="white" stroke-width="2"/>
</svg>
</span>
  <span class="e-button__text">Join the team</span>
</a>
              </div>
    </div>
  </div>
</div>

      
      <div class="transition">
        <div class="transition--panel"></div>
        <svg class="curve-light" stroke="none" fill="#fff" preserveAspectRatio="none" viewBox="0 0 100 100" aria-hidden="true">
    <path vector-effect="non-scaling-stroke" d="M 0 100 V 100 Q 50 100 100 100 V 100 z"/>
</svg>

        <svg class="curve-dark" stroke="none" fill="#090909" preserveAspectRatio="none" viewBox="0 0 100 100" aria-hidden="true">
    <path vector-effect="non-scaling-stroke" d="M 0 100 V 100 Q 50 100 100 100 V 100 z"/>
</svg>

      </div>

      <div class="content" data-router-wrapper role="document">
               <div data-router-view="project">
      <section class="b-project-gallery-fixed infinite">
    <div class="b-project-gallery-fixed__bottom">
    <div class="b-project-gallery-fixed__button">
      <a href="https://digital-cover.com/project/office-concept/"  class="e-prism-cta e-prism-cta--prism-project e-prism-cta--hover"  data-transition="project" >
  <div class="e-prism-cta__hover">
    <div class="e-prism-cta__hover-i">
      <span class="hover"></span>
    </div>
  </div>
  <span class="e-prism-cta__prism">
    <span class="e-prism-cta__prism-full"><svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 165 165" style="enable-background:new 0 0 165 165;" xml:space="preserve">
<path class="st0" fill="none" stroke="white" stroke-miterlimit="1" d="M82.5,0.9c6.4,0,12.8,2.4,17.7,7.3l56.6,56.6c9.8,9.8,9.8,25.6,0,35.4l-56.6,56.6c-9.8,9.8-25.6,9.8-35.4,0
	L8.3,100.2c-9.8-9.8-9.8-25.6,0-35.4L64.8,8.3C69.7,3.4,76.1,0.9,82.5,0.9"/>
</svg>
</span>
    <span class="e-prism-cta__prism-stroke"><svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 165 165" style="enable-background:new 0 0 165 165;" xml:space="preserve">
<path class="st0" fill="none" stroke="white" stroke-miterlimit="1" d="M82.5,0.9c6.4,0,12.8,2.4,17.7,7.3l56.6,56.6c9.8,9.8,9.8,25.6,0,35.4l-56.6,56.6c-9.8,9.8-25.6,9.8-35.4,0
	L8.3,100.2c-9.8-9.8-9.8-25.6,0-35.4L64.8,8.3C69.7,3.4,76.1,0.9,82.5,0.9"/>
</svg>
</span>
  </span>
  <div class="e-prism-cta__inner inner">
    <div class="e-prism-cta__icon"><svg width="33" height="34" viewBox="0 0 33 34" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M12.1328 17L0.132812 17" stroke="white" stroke-width="2"/>
  <path d="M25.024 12.2407C25.6725 11.5921 26.724 11.5921 27.3725 12.2407L31.0908 15.959C31.7394 16.6075 31.7394 17.659 31.0908 18.3075L27.3725 22.0259C26.724 22.6744 25.6725 22.6744 25.024 22.0259L21.3056 18.3075C20.6571 17.659 20.6571 16.6075 21.3056 15.959L25.024 12.2407Z" stroke="white" stroke-width="2"/>
  <path d="M6.13281 23.2657L10.7937 18.6048C11.6067 17.7918 11.6067 16.4738 10.7937 15.6609L6.13281 11" stroke="white" stroke-width="2"/>
  <path d="M14.9576 22.1743C15.6061 21.5257 16.6576 21.5257 17.3061 22.1743L21.0244 25.8926C21.673 26.5411 21.673 27.5926 21.0244 28.2411L17.3061 31.9595C16.6576 32.608 15.6061 32.608 14.9576 31.9595L11.2392 28.2411C10.5907 27.5926 10.5907 26.5411 11.2392 25.8926L14.9576 22.1743Z" stroke="white" stroke-width="2"/>
  <path d="M14.9576 2.17425C15.6061 1.52573 16.6576 1.52573 17.3061 2.17425L21.0244 5.89261C21.673 6.54113 21.673 7.59259 21.0244 8.24111L17.3061 11.9595C16.6576 12.608 15.6061 12.608 14.9576 11.9595L11.2392 8.24111C10.5907 7.59259 10.5907 6.54113 11.2392 5.89261L14.9576 2.17425Z" stroke="white" stroke-width="2"/>
</svg>
</div>
    <div class="e-prism-cta__title">Discover the project</div>
  </div>
</a>
    </div>
    <div class="b-project-gallery-fixed__titles">
              <div class="b-project-gallery-fixed__title">Office Concept</div>
              <div class="b-project-gallery-fixed__title">Denis &amp; Fils</div>
              <div class="b-project-gallery-fixed__title">Creajeux</div>
              <div class="b-project-gallery-fixed__title">Arteck Design</div>
              <div class="b-project-gallery-fixed__title">EM Lyon Junior Conseil</div>
              <div class="b-project-gallery-fixed__title">Benkei</div>
              <div class="b-project-gallery-fixed__title">MJ Ossature Bois</div>
              <div class="b-project-gallery-fixed__title">Le Petit Salon</div>
              <div class="b-project-gallery-fixed__title">Centre Michel Serres</div>
              <div class="b-project-gallery-fixed__title">Escadrille Toulouse</div>
              <div class="b-project-gallery-fixed__title">MTG Intérieur</div>
          </div>
  </div>
</section>
<section class="b-project-gallery b-project-gallery--infinite" id="b-project-gallery" style="--height: 100vh;" data-scroll-section data-scroll data-scroll-repeat data-scroll-call="project-gallery" data-scroll-offset="75%, 100%" >
  <div class="b-project-gallery__inner" data-scroll data-scroll-sticky data-scroll-target="#b-project-gallery">
    <div class="b-project-gallery__overlay"></div>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-20">
          <div class="b-project-gallery__images">
                          <a href="https://digital-cover.com/project/office-concept/" class="b-project-gallery__image" data-scroll data-url="https://digital-cover.com/project/office-concept/" data-id="1468">
                <div class="image ">
  <picture>
    <source
      type="image/webp"
      media="(min-width : 300px)"
              data-srcset="
                      https://digital-cover.com/wp-content/uploads/2023/04/officeConcept_grid-240x135.jpg 240w,
                      https://digital-cover.com/wp-content/uploads/2023/04/officeConcept_grid-480x270.jpg 480w,
                      https://digital-cover.com/wp-content/uploads/2023/04/officeConcept_grid-768x432.jpg 768w,
                      https://digital-cover.com/wp-content/uploads/2023/04/officeConcept_grid-1024x576.jpg 1024w,
                      https://digital-cover.com/wp-content/uploads/2023/04/officeConcept_grid-1200x675.jpg 1200w,
                      https://digital-cover.com/wp-content/uploads/2023/04/officeConcept_grid-1400x788.jpg 1400w,
                      https://digital-cover.com/wp-content/uploads/2023/04/officeConcept_grid-1600x900.jpg 1600w,
                  "
        data-sizes="(max-width: 1023px) 100vw, 50vw"
          />
    <img
      class="lazy "
            width="150"
      height="150"
      alt="Office Concept"
              src="https://digital-cover.com/wp-content/themes/digitalcover/resources/assets/images/svg/loader.svg"
        data-src="https://digital-cover.com/wp-content/uploads/2023/04/officeConcept_grid-150x150.jpg"
        data-srcset="
                      https://digital-cover.com/wp-content/uploads/2023/04/officeConcept_grid-240x135.jpg 240w,
                      https://digital-cover.com/wp-content/uploads/2023/04/officeConcept_grid-480x270.jpg 480w,
                      https://digital-cover.com/wp-content/uploads/2023/04/officeConcept_grid-768x432.jpg 768w,
                      https://digital-cover.com/wp-content/uploads/2023/04/officeConcept_grid-1024x576.jpg 1024w,
                      https://digital-cover.com/wp-content/uploads/2023/04/officeConcept_grid-1200x675.jpg 1200w,
                      https://digital-cover.com/wp-content/uploads/2023/04/officeConcept_grid-1400x788.jpg 1400w,
                      https://digital-cover.com/wp-content/uploads/2023/04/officeConcept_grid-1600x900.jpg 1600w,
                  "
            data-sizes="(max-width: 1023px) 100vw, 50vw"
    >
  </picture>
</div>
                <div class="b-project-gallery__image-title">Office Concept</div>
              </a>
                          <a href="https://digital-cover.com/project/denis-fils/" class="b-project-gallery__image" data-scroll data-url="https://digital-cover.com/project/denis-fils/" data-id="1436">
                <div class="image ">
  <picture>
    <source
      type="image/webp"
      media="(min-width : 300px)"
              data-srcset="
                      https://digital-cover.com/wp-content/uploads/2023/03/denisFils_grid-240x135.jpg 240w,
                      https://digital-cover.com/wp-content/uploads/2023/03/denisFils_grid-480x270.jpg 480w,
                      https://digital-cover.com/wp-content/uploads/2023/03/denisFils_grid-768x432.jpg 768w,
                      https://digital-cover.com/wp-content/uploads/2023/03/denisFils_grid-1024x576.jpg 1024w,
                      https://digital-cover.com/wp-content/uploads/2023/03/denisFils_grid-1200x675.jpg 1200w,
                      https://digital-cover.com/wp-content/uploads/2023/03/denisFils_grid-1400x788.jpg 1400w,
                      https://digital-cover.com/wp-content/uploads/2023/03/denisFils_grid-1600x900.jpg 1600w,
                  "
        data-sizes="(max-width: 1023px) 100vw, 50vw"
          />
    <img
      class="lazy "
            width="150"
      height="150"
      alt="Denis &amp; Fils"
              src="https://digital-cover.com/wp-content/themes/digitalcover/resources/assets/images/svg/loader.svg"
        data-src="https://digital-cover.com/wp-content/uploads/2023/03/denisFils_grid-150x150.jpg"
        data-srcset="
                      https://digital-cover.com/wp-content/uploads/2023/03/denisFils_grid-240x135.jpg 240w,
                      https://digital-cover.com/wp-content/uploads/2023/03/denisFils_grid-480x270.jpg 480w,
                      https://digital-cover.com/wp-content/uploads/2023/03/denisFils_grid-768x432.jpg 768w,
                      https://digital-cover.com/wp-content/uploads/2023/03/denisFils_grid-1024x576.jpg 1024w,
                      https://digital-cover.com/wp-content/uploads/2023/03/denisFils_grid-1200x675.jpg 1200w,
                      https://digital-cover.com/wp-content/uploads/2023/03/denisFils_grid-1400x788.jpg 1400w,
                      https://digital-cover.com/wp-content/uploads/2023/03/denisFils_grid-1600x900.jpg 1600w,
                  "
            data-sizes="(max-width: 1023px) 100vw, 50vw"
    >
  </picture>
</div>
                <div class="b-project-gallery__image-title">Denis &amp; Fils</div>
              </a>
                          <a href="https://digital-cover.com/project/creajeux/" class="b-project-gallery__image" data-scroll data-url="https://digital-cover.com/project/creajeux/" data-id="674">
                <div class="image ">
  <picture>
    <source
      type="image/webp"
      media="(min-width : 300px)"
              data-srcset="
                      https://digital-cover.com/wp-content/uploads/2022/05/Creajeux-2-240x150.jpg 240w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Creajeux-2-480x300.jpg 480w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Creajeux-2-768x480.jpg 768w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Creajeux-2-1024x640.jpg 1024w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Creajeux-2-1200x750.jpg 1200w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Creajeux-2-1400x875.jpg 1400w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Creajeux-2.jpg 1600w,
                  "
        data-sizes="(max-width: 1023px) 100vw, 50vw"
          />
    <img
      class="lazy "
            width="150"
      height="150"
      alt="image"
              src="https://digital-cover.com/wp-content/themes/digitalcover/resources/assets/images/svg/loader.svg"
        data-src="https://digital-cover.com/wp-content/uploads/2022/05/Creajeux-2-150x150.jpg"
        data-srcset="
                      https://digital-cover.com/wp-content/uploads/2022/05/Creajeux-2-240x150.jpg 240w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Creajeux-2-480x300.jpg 480w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Creajeux-2-768x480.jpg 768w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Creajeux-2-1024x640.jpg 1024w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Creajeux-2-1200x750.jpg 1200w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Creajeux-2-1400x875.jpg 1400w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Creajeux-2.jpg 1600w,
                  "
            data-sizes="(max-width: 1023px) 100vw, 50vw"
    >
  </picture>
</div>
                <div class="b-project-gallery__image-title">Creajeux</div>
              </a>
                          <a href="https://digital-cover.com/project/arteck-design/" class="b-project-gallery__image" data-scroll data-url="https://digital-cover.com/project/arteck-design/" data-id="620">
                <div class="image ">
  <picture>
    <source
      type="image/webp"
      media="(min-width : 300px)"
              data-srcset="
                      https://digital-cover.com/wp-content/uploads/2022/05/Arteck-240x150.png 240w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Arteck-480x300.png 480w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Arteck-768x480.png 768w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Arteck-1024x640.png 1024w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Arteck-1200x750.png 1200w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Arteck-1400x875.png 1400w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Arteck.png 1600w,
                  "
        data-sizes="(max-width: 1023px) 100vw, 50vw"
          />
    <img
      class="lazy "
            width="150"
      height="150"
      alt="image"
              src="https://digital-cover.com/wp-content/themes/digitalcover/resources/assets/images/svg/loader.svg"
        data-src="https://digital-cover.com/wp-content/uploads/2022/05/Arteck-150x150.png"
        data-srcset="
                      https://digital-cover.com/wp-content/uploads/2022/05/Arteck-240x150.png 240w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Arteck-480x300.png 480w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Arteck-768x480.png 768w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Arteck-1024x640.png 1024w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Arteck-1200x750.png 1200w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Arteck-1400x875.png 1400w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Arteck.png 1600w,
                  "
            data-sizes="(max-width: 1023px) 100vw, 50vw"
    >
  </picture>
</div>
                <div class="b-project-gallery__image-title">Arteck Design</div>
              </a>
                          <a href="https://digital-cover.com/project/em-lyon-junior-conseil/" class="b-project-gallery__image" data-scroll data-url="https://digital-cover.com/project/em-lyon-junior-conseil/" data-id="556">
                <div class="image ">
  <picture>
    <source
      type="image/webp"
      media="(min-width : 300px)"
              data-srcset="
                      https://digital-cover.com/wp-content/uploads/2022/05/EM-1-240x150.jpg 240w,
                      https://digital-cover.com/wp-content/uploads/2022/05/EM-1-480x300.jpg 480w,
                      https://digital-cover.com/wp-content/uploads/2022/05/EM-1-768x480.jpg 768w,
                      https://digital-cover.com/wp-content/uploads/2022/05/EM-1-1024x640.jpg 1024w,
                      https://digital-cover.com/wp-content/uploads/2022/05/EM-1-1200x750.jpg 1200w,
                      https://digital-cover.com/wp-content/uploads/2022/05/EM-1-1400x875.jpg 1400w,
                      https://digital-cover.com/wp-content/uploads/2022/05/EM-1.jpg 1600w,
                  "
        data-sizes="(max-width: 1023px) 100vw, 50vw"
          />
    <img
      class="lazy "
            width="150"
      height="150"
      alt="image"
              src="https://digital-cover.com/wp-content/themes/digitalcover/resources/assets/images/svg/loader.svg"
        data-src="https://digital-cover.com/wp-content/uploads/2022/05/EM-1-150x150.jpg"
        data-srcset="
                      https://digital-cover.com/wp-content/uploads/2022/05/EM-1-240x150.jpg 240w,
                      https://digital-cover.com/wp-content/uploads/2022/05/EM-1-480x300.jpg 480w,
                      https://digital-cover.com/wp-content/uploads/2022/05/EM-1-768x480.jpg 768w,
                      https://digital-cover.com/wp-content/uploads/2022/05/EM-1-1024x640.jpg 1024w,
                      https://digital-cover.com/wp-content/uploads/2022/05/EM-1-1200x750.jpg 1200w,
                      https://digital-cover.com/wp-content/uploads/2022/05/EM-1-1400x875.jpg 1400w,
                      https://digital-cover.com/wp-content/uploads/2022/05/EM-1.jpg 1600w,
                  "
            data-sizes="(max-width: 1023px) 100vw, 50vw"
    >
  </picture>
</div>
                <div class="b-project-gallery__image-title">EM Lyon Junior Conseil</div>
              </a>
                          <a href="https://digital-cover.com/project/benkei/" class="b-project-gallery__image" data-scroll data-url="https://digital-cover.com/project/benkei/" data-id="518">
                <div class="image ">
  <picture>
    <source
      type="image/webp"
      media="(min-width : 300px)"
              data-srcset="
                      https://digital-cover.com/wp-content/uploads/2022/05/Benkei-1-240x150.jpg 240w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Benkei-1-480x300.jpg 480w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Benkei-1-768x480.jpg 768w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Benkei-1-1024x640.jpg 1024w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Benkei-1-1200x750.jpg 1200w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Benkei-1-1400x875.jpg 1400w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Benkei-1.jpg 1600w,
                  "
        data-sizes="(max-width: 1023px) 100vw, 50vw"
          />
    <img
      class="lazy "
            width="150"
      height="150"
      alt="image"
              src="https://digital-cover.com/wp-content/themes/digitalcover/resources/assets/images/svg/loader.svg"
        data-src="https://digital-cover.com/wp-content/uploads/2022/05/Benkei-1-150x150.jpg"
        data-srcset="
                      https://digital-cover.com/wp-content/uploads/2022/05/Benkei-1-240x150.jpg 240w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Benkei-1-480x300.jpg 480w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Benkei-1-768x480.jpg 768w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Benkei-1-1024x640.jpg 1024w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Benkei-1-1200x750.jpg 1200w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Benkei-1-1400x875.jpg 1400w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Benkei-1.jpg 1600w,
                  "
            data-sizes="(max-width: 1023px) 100vw, 50vw"
    >
  </picture>
</div>
                <div class="b-project-gallery__image-title">Benkei</div>
              </a>
                          <a href="https://digital-cover.com/project/mj-ossature-bois/" class="b-project-gallery__image" data-scroll data-url="https://digital-cover.com/project/mj-ossature-bois/" data-id="496">
                <div class="image ">
  <picture>
    <source
      type="image/webp"
      media="(min-width : 300px)"
              data-srcset="
                      https://digital-cover.com/wp-content/uploads/2022/05/MJ-1-240x150.jpg 240w,
                      https://digital-cover.com/wp-content/uploads/2022/05/MJ-1-480x300.jpg 480w,
                      https://digital-cover.com/wp-content/uploads/2022/05/MJ-1-768x480.jpg 768w,
                      https://digital-cover.com/wp-content/uploads/2022/05/MJ-1-1024x640.jpg 1024w,
                      https://digital-cover.com/wp-content/uploads/2022/05/MJ-1-1200x750.jpg 1200w,
                      https://digital-cover.com/wp-content/uploads/2022/05/MJ-1-1400x875.jpg 1400w,
                      https://digital-cover.com/wp-content/uploads/2022/05/MJ-1.jpg 1600w,
                  "
        data-sizes="(max-width: 1023px) 100vw, 50vw"
          />
    <img
      class="lazy "
            width="150"
      height="150"
      alt="image"
              src="https://digital-cover.com/wp-content/themes/digitalcover/resources/assets/images/svg/loader.svg"
        data-src="https://digital-cover.com/wp-content/uploads/2022/05/MJ-1-150x150.jpg"
        data-srcset="
                      https://digital-cover.com/wp-content/uploads/2022/05/MJ-1-240x150.jpg 240w,
                      https://digital-cover.com/wp-content/uploads/2022/05/MJ-1-480x300.jpg 480w,
                      https://digital-cover.com/wp-content/uploads/2022/05/MJ-1-768x480.jpg 768w,
                      https://digital-cover.com/wp-content/uploads/2022/05/MJ-1-1024x640.jpg 1024w,
                      https://digital-cover.com/wp-content/uploads/2022/05/MJ-1-1200x750.jpg 1200w,
                      https://digital-cover.com/wp-content/uploads/2022/05/MJ-1-1400x875.jpg 1400w,
                      https://digital-cover.com/wp-content/uploads/2022/05/MJ-1.jpg 1600w,
                  "
            data-sizes="(max-width: 1023px) 100vw, 50vw"
    >
  </picture>
</div>
                <div class="b-project-gallery__image-title">MJ Ossature Bois</div>
              </a>
                          <a href="https://digital-cover.com/project/le-petit-salon/" class="b-project-gallery__image" data-scroll data-url="https://digital-cover.com/project/le-petit-salon/" data-id="470">
                <div class="image ">
  <picture>
    <source
      type="image/webp"
      media="(min-width : 300px)"
              data-srcset="
                      https://digital-cover.com/wp-content/uploads/2022/05/Le_Petit_Salon-240x150.jpg 240w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Le_Petit_Salon-480x300.jpg 480w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Le_Petit_Salon-768x480.jpg 768w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Le_Petit_Salon-1024x640.jpg 1024w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Le_Petit_Salon-1200x750.jpg 1200w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Le_Petit_Salon-1400x875.jpg 1400w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Le_Petit_Salon.jpg 1600w,
                  "
        data-sizes="(max-width: 1023px) 100vw, 50vw"
          />
    <img
      class="lazy "
            width="150"
      height="150"
      alt="image"
              src="https://digital-cover.com/wp-content/themes/digitalcover/resources/assets/images/svg/loader.svg"
        data-src="https://digital-cover.com/wp-content/uploads/2022/05/Le_Petit_Salon-150x150.jpg"
        data-srcset="
                      https://digital-cover.com/wp-content/uploads/2022/05/Le_Petit_Salon-240x150.jpg 240w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Le_Petit_Salon-480x300.jpg 480w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Le_Petit_Salon-768x480.jpg 768w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Le_Petit_Salon-1024x640.jpg 1024w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Le_Petit_Salon-1200x750.jpg 1200w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Le_Petit_Salon-1400x875.jpg 1400w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Le_Petit_Salon.jpg 1600w,
                  "
            data-sizes="(max-width: 1023px) 100vw, 50vw"
    >
  </picture>
</div>
                <div class="b-project-gallery__image-title">Le Petit Salon</div>
              </a>
                          <a href="https://digital-cover.com/project/centre-michel-serres/" class="b-project-gallery__image" data-scroll data-url="https://digital-cover.com/project/centre-michel-serres/" data-id="449">
                <div class="image ">
  <picture>
    <source
      type="image/webp"
      media="(min-width : 300px)"
              data-srcset="
                      https://digital-cover.com/wp-content/uploads/2022/05/Hesam-1-240x150.jpg 240w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Hesam-1-480x300.jpg 480w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Hesam-1-768x480.jpg 768w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Hesam-1-1024x640.jpg 1024w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Hesam-1-1200x750.jpg 1200w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Hesam-1-1400x875.jpg 1400w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Hesam-1.jpg 1600w,
                  "
        data-sizes="(max-width: 1023px) 100vw, 50vw"
          />
    <img
      class="lazy "
            width="150"
      height="150"
      alt="image"
              src="https://digital-cover.com/wp-content/themes/digitalcover/resources/assets/images/svg/loader.svg"
        data-src="https://digital-cover.com/wp-content/uploads/2022/05/Hesam-1-150x150.jpg"
        data-srcset="
                      https://digital-cover.com/wp-content/uploads/2022/05/Hesam-1-240x150.jpg 240w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Hesam-1-480x300.jpg 480w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Hesam-1-768x480.jpg 768w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Hesam-1-1024x640.jpg 1024w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Hesam-1-1200x750.jpg 1200w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Hesam-1-1400x875.jpg 1400w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Hesam-1.jpg 1600w,
                  "
            data-sizes="(max-width: 1023px) 100vw, 50vw"
    >
  </picture>
</div>
                <div class="b-project-gallery__image-title">Centre Michel Serres</div>
              </a>
                          <a href="https://digital-cover.com/project/escadrille/" class="b-project-gallery__image" data-scroll data-url="https://digital-cover.com/project/escadrille/" data-id="427">
                <div class="image ">
  <picture>
    <source
      type="image/webp"
      media="(min-width : 300px)"
              data-srcset="
                      https://digital-cover.com/wp-content/uploads/2022/05/Escadrille-240x150.jpg 240w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Escadrille-480x300.jpg 480w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Escadrille-768x480.jpg 768w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Escadrille-1024x640.jpg 1024w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Escadrille-1200x750.jpg 1200w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Escadrille-1400x875.jpg 1400w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Escadrille.jpg 1600w,
                  "
        data-sizes="(max-width: 1023px) 100vw, 50vw"
          />
    <img
      class="lazy "
            width="150"
      height="150"
      alt="image"
              src="https://digital-cover.com/wp-content/themes/digitalcover/resources/assets/images/svg/loader.svg"
        data-src="https://digital-cover.com/wp-content/uploads/2022/05/Escadrille-150x150.jpg"
        data-srcset="
                      https://digital-cover.com/wp-content/uploads/2022/05/Escadrille-240x150.jpg 240w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Escadrille-480x300.jpg 480w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Escadrille-768x480.jpg 768w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Escadrille-1024x640.jpg 1024w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Escadrille-1200x750.jpg 1200w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Escadrille-1400x875.jpg 1400w,
                      https://digital-cover.com/wp-content/uploads/2022/05/Escadrille.jpg 1600w,
                  "
            data-sizes="(max-width: 1023px) 100vw, 50vw"
    >
  </picture>
</div>
                <div class="b-project-gallery__image-title">Escadrille Toulouse</div>
              </a>
                          <a href="https://digital-cover.com/project/mtg-interieur/" class="b-project-gallery__image" data-scroll data-url="https://digital-cover.com/project/mtg-interieur/" data-id="23">
                <div class="image ">
  <picture>
    <source
      type="image/webp"
      media="(min-width : 300px)"
              data-srcset="
                      https://digital-cover.com/wp-content/uploads/2022/03/MTG_intérieur-240x150.jpg 240w,
                      https://digital-cover.com/wp-content/uploads/2022/03/MTG_intérieur-480x300.jpg 480w,
                      https://digital-cover.com/wp-content/uploads/2022/03/MTG_intérieur-768x480.jpg 768w,
                      https://digital-cover.com/wp-content/uploads/2022/03/MTG_intérieur-1024x640.jpg 1024w,
                      https://digital-cover.com/wp-content/uploads/2022/03/MTG_intérieur-1200x750.jpg 1200w,
                      https://digital-cover.com/wp-content/uploads/2022/03/MTG_intérieur-1400x875.jpg 1400w,
                      https://digital-cover.com/wp-content/uploads/2022/03/MTG_intérieur.jpg 1600w,
                  "
        data-sizes="(max-width: 1023px) 100vw, 50vw"
          />
    <img
      class="lazy "
            width="150"
      height="150"
      alt="image"
              src="https://digital-cover.com/wp-content/themes/digitalcover/resources/assets/images/svg/loader.svg"
        data-src="https://digital-cover.com/wp-content/uploads/2022/03/MTG_intérieur-150x150.jpg"
        data-srcset="
                      https://digital-cover.com/wp-content/uploads/2022/03/MTG_intérieur-240x150.jpg 240w,
                      https://digital-cover.com/wp-content/uploads/2022/03/MTG_intérieur-480x300.jpg 480w,
                      https://digital-cover.com/wp-content/uploads/2022/03/MTG_intérieur-768x480.jpg 768w,
                      https://digital-cover.com/wp-content/uploads/2022/03/MTG_intérieur-1024x640.jpg 1024w,
                      https://digital-cover.com/wp-content/uploads/2022/03/MTG_intérieur-1200x750.jpg 1200w,
                      https://digital-cover.com/wp-content/uploads/2022/03/MTG_intérieur-1400x875.jpg 1400w,
                      https://digital-cover.com/wp-content/uploads/2022/03/MTG_intérieur.jpg 1600w,
                  "
            data-sizes="(max-width: 1023px) 100vw, 50vw"
    >
  </picture>
</div>
                <div class="b-project-gallery__image-title">MTG Intérieur</div>
              </a>
                      </div>
        </div>
      </div>
    </div>
      </div>
</section>
    </div>
        </div>

            <footer class="footer" data-scroll-section data-webgl-section data-webgl-offset="-160%" data-position-z="0.995" data-webgl-sync-scroll="true">
  <div class="footer__shape"><svg width="1440" height="235" viewBox="0 0 1440 235" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M737.354 1.76012L1440 108.881L1440 235L0 235L1.10257e-05 108.881L701.146 1.76574C713.145 -0.0674311 725.354 -0.0693221 737.354 1.76012Z" fill="url(#paint0_linear_2061_4780)"/>
<defs>
<linearGradient id="paint0_linear_2061_4780" x1="720" y1="154.078" x2="720" y2="-49.7155" gradientUnits="userSpaceOnUse">
<stop stop-color="#090909"/>
<stop offset="1" stop-color="#181818"/>
</linearGradient>
</defs>
</svg>
</div>
  
  <div class="footer__main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-14 col-xl-4 col-xxxl-3 offset-md-2">
          <div class="footer__title">You can find us</div>
        </div>
        <div class="col-md-14 col-xl-5 offset-md-2 offset-lg-1 offset-xxxl-2">
          <div class="footer__address footer__address--primary">
                          <div class="footer__address-name">
                <span class="icon"><svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
<mask id="mask0_546_5250" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="12" height="12">
<path d="M4.83869 1.16131C5.48006 0.519937 6.51994 0.519937 7.16131 1.16131L10.8387 4.83869C11.4801 5.48006 11.4801 6.51994 10.8387 7.16131L7.16131 10.8387C6.51994 11.4801 5.48006 11.4801 4.83869 10.8387L1.16131 7.16131C0.519937 6.51994 0.519937 5.48006 1.16131 4.83869L4.83869 1.16131Z" fill="#C4C4C4"/>
</mask>
<g mask="url(#mask0_546_5250)">
<path d="M0.568359 0.000377271L5.96396 -0.0488281V11.3595H0.568359V0.000377271Z" fill="white"/>
<path d="M5.96484 0H11.3604V11.3592H5.96484V0Z" fill="#C90000"/>
</g>
</svg>
</span>
                <span>Malta</span>
              </div>
                         <a href="tel:+35622269617" class="footer__address-phone">+35622269617</a>              <a href="mailto:contact@digital-cover.com" class="footer__address-email">contact@digital-cover.com</a>                                           <a href="https://g.page/agence-digital-cover-lyon?share" target="_blank" rel="noopener" class="footer__address-address"><p>Punchbowl Centre, Elia Zammit Street,<br />
St Julian’s, STJ 3154, Malta</p>
</a>
                                    </div>
        </div>
        <div class="col-md-14 col-xl-4 offset-md-2 offset-lg-1">
          <div class="footer__address footer__address--center">
                          <div class="footer__address-name">
                <span class="icon"><svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
<mask id="mask0_546_5237" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="12" height="12">
<path d="M4.83869 1.16131C5.48006 0.519937 6.51994 0.519937 7.16131 1.16131L10.8387 4.83869C11.4801 5.48006 11.4801 6.51994 10.8387 7.16131L7.16131 10.8387C6.51994 11.4801 5.48006 11.4801 4.83869 10.8387L1.16131 7.16131C0.519937 6.51994 0.519937 5.48006 1.16131 4.83869L4.83869 1.16131Z" fill="#C4C4C4"/>
</mask>
<g mask="url(#mask0_546_5237)">
<path d="M0 0.0517572L12 0V12H0V0.0517572Z" fill="white"/>
<path d="M8 0H12V11H8V0Z" fill="#C90000"/>
<path d="M0 0H4V11H0V0Z" fill="#0062F4"/>
</g>
</svg>
</span>
                <span>Lyon</span>
              </div>
                         <a href="tel:+33472321197  " class="footer__address-phone">+33472321197  </a>              <a href="mailto:contact@digital-cover.fr" class="footer__address-email">contact@digital-cover.fr</a>                                           <a href="https://g.page/agence-digital-cover-lyon?share" target="_blank" rel="noopener" class="footer__address-address"><p>46 Quai Hippolyte Jayr<br />
69009 Lyon, France</p>
</a>
                                    </div>
        </div>
        <div class="col-md-14 col-xl-4 offset-md-2 offset-lg-1">
          <div class="footer__address footer__address--secondary">
                          <div class="footer__address-name">
                <span class="icon"><svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
<mask id="mask0_546_5237" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="12" height="12">
<path d="M4.83869 1.16131C5.48006 0.519937 6.51994 0.519937 7.16131 1.16131L10.8387 4.83869C11.4801 5.48006 11.4801 6.51994 10.8387 7.16131L7.16131 10.8387C6.51994 11.4801 5.48006 11.4801 4.83869 10.8387L1.16131 7.16131C0.519937 6.51994 0.519937 5.48006 1.16131 4.83869L4.83869 1.16131Z" fill="#C4C4C4"/>
</mask>
<g mask="url(#mask0_546_5237)">
<path d="M0 0.0517572L12 0V12H0V0.0517572Z" fill="white"/>
<path d="M8 0H12V11H8V0Z" fill="#C90000"/>
<path d="M0 0H4V11H0V0Z" fill="#0062F4"/>
</g>
</svg>
</span>
                <span>Paris</span>
              </div>
                         <a href="tel:+33189163382" class="footer__address-phone">+33189163382</a>              <a href="mailto:contact@digital-cover.fr" class="footer__address-email">contact@digital-cover.fr</a>                                           <a href="https://www.google.com/maps/place/207+Rue+de+Bercy,+75012+Paris/@48.8448315,2.369375,17z/data=!3m1!4b1!4m5!3m4!1s0x47e6721ca13095e1:0xf3d8c31e5dc69752!8m2!3d48.8448315!4d2.3715637" target="_blank" rel="noopener" class="footer__address-address"><p>207 rue de Bercy<br />
75012 Paris, France</p>
</a>
                                    </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__under">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-20">
          <div class="footer__bottom">
            <div class="footer__copyright">2023 - © Digital Cover</div>
            <div class="footer__menu">
                              <a href="https://digital-cover.com/contact/"  class="footer__item">Contact us</a>
                              <a href="https://digital-cover.com/apply/"  class="footer__item">Join the team</a>
                              <a href="https://digital-cover.com/legal-mentions/"  class="footer__item">Web terms and conditions</a>
                              <a href="https://digital-cover.com/privacy-policy/"  class="footer__item">Privacy policy</a>
                          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

      <script type='text/javascript' src='https://digital-cover.com/wp-content/themes/digitalcover/dist/scripts/main.js' id='sage/main.js-js'></script>
    </div>
  </body>
</html>